 h6{
    color: #243c68;
}
 h2{
    font-size: 36px;
}
.para{
    margin-bottom:150px;
}
.icons{
    font-size: 48px;
    color: #243c68;
}
.bord{
    border-right: 1px solid rgb(235, 234, 234);
}